html {
  font-size: 15px;
}

.section-page {
  margin-top: 5em;
  /* background-color: #f0e1c0; */
  width: 100%;
}

header{
  height: 100vh;
  width: 100%;
}

#landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

#landing-text h1{
  font-size: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  padding: 20px;
  user-select: none;
}

#landing-text h2{
  font-size: 2rem;
  font-weight: 300;
}

.tag {
  padding: 2 px 5 px 2 px 5 px;
  margin-left: 10 px;
  color: black;
  text-align: center;
  background-color: #fc3;
}

.rounded {
  border-radius: 0.25 rem !important;
}

.copyright{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding: 0.5rem 0;
  position: relative;
}

.copyright p{
  font-size: 1rem;
  font-weight: 200;
  color: #fc3;
}